<!-- start component -->
<section class="info-translate ">
  <div class="container">

<label class="switch" aria-label="Toggle setting" (click)="swapText()">
  <input type="checkbox" aria-checked="false" />
  <span class="slider" aria-hidden="true">
    <svg class="slider-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation">
      <path fill="none" d="m4 16.5 8 8 16-16"></path>
    </svg>
  </span>
</label>




    <div class="col-12">


      <form class="form" [formGroup]="translateForm">
        <div class="row">


          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="form-info-translate">
              <textarea class="form-control" formControlName="text" placeholder="Enter the text you want to translate here"></textarea>
            </div>
          </div>

          <!-- language -->

          <div class="col-lg-6 col-sm-12 col-md-6">
            <div class="form-info-langauge">
              <select formControlName="targetLanguage">


<option value="" disabled selected>
    Select language
  </option>
                @for (lang of languages(); track $index) {
                <option [value]="lang">
                  {{ lang }}
                </option>
                }

              </select>
            </div>
          </div>

        </div>



      </form>
    </div>




    <!-- text translate here  -->


    <div class="form-info-translate-read">
      <textarea readonly class="form-control" [value]="outputText()?.translatedText" placeholder="Your translated text will appear here
"></textarea>
    </div>


  </div>
</section>
