

.info-translate {
  background-color: rgb(16, 34, 23);
  width: 100%;
  height: 100vh;
  padding-top: 1px;
}


/* start form  */

.info-translate .form {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 15px;
  height: auto;
}



.info-translate .form .form-control {
  width: 100%;
  height: auto;
  /* min-height: 140px; */
  /* padding: 14px 16px; */

  background-color: rgb(22, 44, 32);
  color: #e8f5ee;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.6;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

}

.info-translate .form .form-control::placeholder {
  color: rgba(232, 245, 238, 0.45);
}

.info-translate .form .form-control:focus {
  border-color: #4ade80;
  box-shadow: 0 0 0 2px rgba(74, 222, 128, 0.25);
}



/*  drop down  */

.info-translate .form .form-info-langauge select {
  width: 100%;
  height: 60px;
  padding: 0 14px;

  background-color: rgb(22, 44, 32);
  color: #e8f5ee;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;

  font-size: 14px;

  outline: none;
  cursor: pointer;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

select:focus {
  border-color: #4ade80;
  box-shadow: 0 0 0 2px rgba(74, 222, 128, 0.25);
}






/* text translate here  */


.form-info-translate-read  {

  width: 50%;
  height: auto;
  margin: auto !important;
  margin-top: 50px !important;

}
.info-translate .form-info-translate-read .form-control  {
   background-color: rgb(22, 44, 32);
  color: #e8f5ee !important;
  width: 100%;
  border: 1px solid rgba(74, 222, 128, 0.4);
  font-weight: 500;
  cursor: pointer;
}

.info-translate .form-info-translate-read .form-control::placeholder {
  color: rgba(232, 245, 238, 0.45);
}


/* responsive for mobiles */

@media (max-width: 768px) {
  .info-translate .form {
    width: 100%;
    margin-top: 80px;
  }

  .info-translate .form .form-info-translate {
    margin-bottom: 25px ;
  }

  .form-info-translate-read  {
    width: 100% !important;
    margin-top: 30px !important;
  }
}




/* responsive for tablets */


@media (min-width:768px)and (max-width:1023px) {

    .info-translate .form {
    width: 100%;
    margin-top: 80px;
  }

  .info-translate .form .form-info-translate {
    margin-bottom: 25px ;
  }

  .form-info-translate-read  {
    width: 100% !important;
    margin-top: 30px !important;
  }

}



/* From Uiverse.io by alexruix */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B0B0B0;
  border: 1px solid #B0B0B0;
  transition: .4s;
  border-radius: 32px;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  outline: 2px solid #B0B0B0;
  left: -1px;
  bottom: -1px;
  background-color: #fff;
  transition: transform .25s ease-in-out 0s;
}

.slider-icon {
  opacity: 0;
  height: 12px;
  width: 12px;
  stroke-width: 8;
  position: absolute;
  z-index: 999;
  stroke: #222222;
  right: 60%;
  top: 30%;
  transition: right ease-in-out .3s, opacity ease-in-out .15s;
}

input:checked + .slider {
  background-color: #222222;
}

input:checked + .slider .slider-icon {
  opacity: 1;
  right: 20%;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  outline-color: #181818;
}
